historical_dns:
  securitytrails: YOUR_SECURITYTRAILS_API_KEY
shodan:
  api_key: YOUR_SHODAN_API_KEY
censys:
  api_id: YOUR_CENSYS_API_ID
  api_secret: YOUR_CENSYS_API_SECRET
fofa:
  email: YOUR_FOFA_EMAIL
  key: YOUR_FOFA_API_KEY
